{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
     <h2 class='custom'>Neue Registrierung (La Qualità) </h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <p>Ich stimme der Verarbeitung personenbezogener Daten gemäß den Bestimmungen von COVID-19 zu</p>
        <p>Acconsento al trattamento dei dati personali nel rispetto della normativa per il COVID-19</p>
        <button class="btn btn-success" type="submit">Anmelden</button>
    </form>
{% endblock %}